<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :issue_type_id %><br>
    <%= f.number_field :issue_type_id %>
  </div>
  <div class="field">
    <%= f.label :issue_status_id %><br>
    <%= f.number_field :issue_status_id %>
  </div>
  <div class="field">
    <label>Project</label><br>
    <%= f.select :project_id, Project.all.collect { |p| [ p.name, p.id ] }, {:include_blank => true} %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
