<p>
  <strong>Project:</strong>
  <%= (!@ticket.project.nil? ? @ticket.project.name : "n/a" ) %>
</p>
<p>
  <strong>User:</strong>
  <%= @ticket.user.email %>
</p>

<p>
  <strong>Issue type:</strong>
  <%= @ticket.issue_type.name %>
</p>

<p>
  <strong>Issue status:</strong>
  <%= @ticket.issue_status.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @ticket.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @ticket.comment %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
