<!DOCTYPE html>
<html>
<head>
  <title>Ticketapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <div class="logout">
    <% if user_signed_in? %>
      <%= button_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% end %>
  </div>
  <div class="navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Ticket-Trac</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="tickets">Home</a></li>
          <li><a href="tickets">Tickets</a></li>
          <li><a href="projects">Projects</a></li>
          <li><a href="issue_types">Issue Types</a></li>
          <li><a href="issue_statuses">Statuses</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</head>
<body>
  <div class="container">
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
 </div>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>



