<!DOCTYPE html>
<html>
<head>
  <title>Ticketapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="banner">
    <%= @page_title || "Ticket Tracker" %>
  </div>
  <div id="menu">
    <%= link_to 'Projects',projects_path %></br>
    <%= link_to 'Tickets', tickets_path %></br>
    <%= link_to 'Users', users_path %></br>
  </div>
  <%= yield %>

</body>
</html>
